*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: azure;
}

body{
    height: 1000px;
    width: 1520px;
}
#name{
    color: black;
    background-color: rgba(68, 172, 224, 0.882);
    height: 150px;
   text-align: center;
   font-weight:bolder;
   font-size: xx-large;
   line-height: 140px;

}
nav{
    height: 70px;
    background-color: black;
  
    font-size: x-large;
    line-height: 65px;
}

#nav a{
padding: 14px 17px;
margin: 3px 140px;
color: azure;
background-color: black;
text-decoration: none;
}

#nav a:hover{
    background-color: rgba(221, 105, 63, 0.741);
}
#data h2, #data div {   
    background-color: rgba(110, 93, 93, 0.16);
}
h2{
    height: 90px;
    text-align: center;
    font-size: larger;
    line-height: 70px;
}
#data{
    height: auto;
    background-color: gray;
}
/* #data div {
    border: 1px solid red;
} */
#algorithms{
    
    height: auto;
    
}
.about {
    background-color: slategrey;
   
}
.algorithm{
    font-size: larger;
    background-color: rgb(116 105 105 /0);
    color: black;
    padding: 2px 37px;
    margin: 3px 311px;
    height: 60px ;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    float: left;
   
    
}



.options{
    background-color: rgba(110, 93, 93, 0.581);
    width: 760px;
    height: 60px;
    color: black;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    float: left;
   
}
.option{
    background-color: rgba(110, 93, 93, 0.581);
    width: 1520px;
    color: black;
    float: left;
    height: 60px;
    text-align: center;
    text-decoration: none;
    
}
.work_area{
    float: none;
    height: 140px ;
}
#algorithms a:hover{
    background-color: rgba(221, 105, 63, 0.741);
}
p{
    float: none ;

}